<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- config -->
<th:block th:replace="~{fragments/config :: configFragment}"></th:block>
<!-- header -->
<body>
<th:block th:replace="~{fragments/header :: headerFragment  }"></th:block>
<div class="d-flex" style="min-height: 100vh;">
  <!-- 사이드 네비게이션 -->
  <th:block th:replace="~{fragments/sideNav :: sideNavFragment}"></th:block>


  <!-- 메인 콘텐츠 -->
  <main class="flex-grow-1 p-3">
    <div class="container">
      <!-- content -->
      <th:block layout:fragment="content">

      </th:block>
    </div>
  </main>
</div>
<!-- footer -->
<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
<!-- 컨텐츠 페이지의 js -->
<th:block layout:fragment="script"></th:block>
</body>
</html>