<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.playdata.miniproject.board.mapper.BoardCommentMapper">
    <insert id="saveComment" parameterType="com.playdata.miniproject.board.dto.BoardCommentRequest" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO board_comment (
        comment_content,
        comment_step,
        comment_group,
        commendt_create_dt,
        comment_update_dt,
        board_id,
        user_key
        )
        VALUES (
        #{commentContent},
        #{commentStep},
        #{commentGroup},
        NOW(),
        NOW(),
        #{boardId},
        #{userKey}
        )
    </insert>
    <select id="commentList" parameterType="int" resultType="commentResponse">
        SELECT u.user_realname, c.comment_create_dt, c.comment_content, c.comment_id, c.comment_step, u.user_profile_picture_generated
        FROM board_comment c
                 JOIN users u ON c.user_key = u.user_key
        WHERE c.board_id = #{boardId}
        ORDER BY c.comment_group, c.comment_step
    </select>
    <update id="updateCommentGroupId" parameterType="int">
        UPDATE board_comment
        SET comment_group = #{commentId}
        WHERE comment_id = #{commentId}
    </update>
</mapper>