<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<div>
  <th:block layout:fragment="content">
    <h1 class="text-center my-4">마이페이지</h1>

    <!-- 부트스트랩 탭 -->
    <ul class="nav nav-tabs" id="myPageTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button" role="tab" aria-controls="posts" aria-selected="true">
          내가 작성한 게시글
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="reservations-tab" data-bs-toggle="tab" data-bs-target="#reservations" type="button" role="tab" aria-controls="reservations" aria-selected="false">
          내가 예약한 목록
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="myGroups-tab" data-bs-toggle="tab" data-bs-target="#myGroups" type="button" role="tab" aria-controls="myGroups" aria-selected="false">
          내가 만든 모임
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="myParticipatedGroups-tab" data-bs-toggle="tab" data-bs-target="#myParticipatedGroups" type="button" role="tab" aria-controls="joinedGroups" aria-selected="false">
          내가 참가 중인 모임
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="myPendingGroups-tab" data-bs-toggle="tab" data-bs-target="#myPendingGroups" type="button" role="tab" aria-controls="pendingGroups" aria-selected="false">
          내가 참가 신청한 모임
        </button>
      </li>
    </ul>

    <!-- 탭 콘텐츠 -->
    <div class="tab-content mt-4" id="myPageTabContent">
      <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
        <div id="postsContent">Loading...</div>
      </div>

      <!-- 예약 탭 -->
      <div class="tab-pane fade" id="reservations" role="tabpanel" aria-labelledby="reservations-tab">
        <div id="reservationsContent">Loading...</div>
      </div>

      <!-- 내가 만든 모임 탭 -->
      <div class="tab-pane fade" id="myGroups" role="tabpanel" aria-labelledby="myGroups-tab">
        <div id="myGroupsContent">Loading...</div>
      </div>

      <!-- 내가 참가 중인 모임 탭 -->
      <div class="tab-pane fade" id="myParticipatedGroups" role="tabpanel" aria-labelledby="myParticipatedGroups-tab">
        <div id="myParticipatedGroupsContent">Loading...</div>
      </div>

      <!-- 내가 참가 신청한 모임 탭 -->
      <div class="tab-pane fade" id="myPendingGroups" role="tabpanel" aria-labelledby="myPendingGroups-tab">
        <div id="myPendingGroupsContent">Loading...</div>
      </div>
    </div>

    <!--예약 상세정보 모달-->
    <div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reservationModalLabel">예약 상세정보</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><strong>카페 이름:</strong> <span id="modalCafeName"></span></p>
            <p><strong>픽업 시간:</strong> <span id="modalPickupTime"></span></p>
            <p><strong>메뉴:</strong></p>
            <ul id="modalMenuList"></ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 멤버 관리 모달 -->
    <div class="modal fade" id="manageMembersModal" tabindex="-1" aria-labelledby="manageMembersModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="manageMembersModalLabel">인원 관리</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <!-- 참여 중인 인원 (왼쪽) -->
              <div class="col-md-6">
                <h6>참여 중인 인원</h6>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>프로필</th>
                    <th>닉네임</th>
                    <th>전화번호</th>
                    <th>관리</th>
                  </tr>
                  </thead>
                  <tbody id="currentMembers">
                  <!-- 참여 중인 인원 목록이 JavaScript로 채워짐 -->
                  </tbody>
                </table>
              </div>

              <!-- 신청 중인 인원 (오른쪽) -->
              <div class="col-md-6">
                <h6>신청 중인 인원</h6>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>프로필</th>
                    <th>닉네임</th>
                    <th>전화번호</th>
                    <th>관리</th>
                  </tr>
                  </thead>
                  <tbody id="pendingMembers">
                  <!-- 신청 중인 인원 목록이 JavaScript로 채워짐 -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/js/user/mypagetest1.js}"></script>
    <script th:src="@{/js/user/mypagetest.js}"></script>
  </th:block>
</div>
</html>
