
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.unit_header {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
    gap: 14px;
}

.profile_img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 999em;
    background-color: #3f8032;
}

.profile_info #name {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 4px ;
}

.profile_info #vegan_type {
    color: #7c7c7c;
}

/*************************
레이아웃
*************************/




.media_box > .wrap {
    display: flex;
    gap : 20px
}

.media_box .media_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tool_box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tool_box button {
    width: 60px;
    height: 60px;
    border-radius: 99em;
    padding: 10px;
    border: 1px solid #c9cfd8;
}


.feed_unit > .wrap {
    display: flex;
    gap: 20px;
}

.comment_box {
    display: flex;
    flex-direction: column;
    border: 1px solid #c9cfd8;
    width: 400px;
    position: relative;
}




.comment_box .wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.comment_area {
    height: 100%;
    width: 100%;
    background-color: #f3f4f4;
}

.comment_user_info {
    display: flex;
    flex-direction: column;
}


.comm_input {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
}

.comm_input input {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-top: 1px solid #c9cfd8;
}

.slider_tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.comment_user_info {
    padding: 20px;
}

.header_box {
    padding: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: #c9cfd8;
}

.header_info {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header_info p {
    font-size: 1.3em;
    font-weight: 600;
    margin-right: 10px;
}



.comm_info {
    color: #97989a;
}

.comm_text {
    margin: 20px 0;
    height: 70px;
}

.slider_tags li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    border: 2px solid #45a049;
    border-radius: 99em;
    color: #45a049;
}

.comment_area > ul,
.comment_area > ul li {
    padding: 20px;
}

.comm_unit {
    border-radius: 7px;
    border: 1px solid #b9bfc6;
    background-color: #fff;
}
.comm_profile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comm_body {
    margin-top: 10px;
}

.comm_profile_wrap {
    display: flex;
    gap: 10px;
}




/*************************
    슬라이드
*************************/

.slider_trap {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border: 1px solid #97989a;
    border-radius: 4px;
    position: relative;
}

.slider_trap li {
    width: 500px;
    height: 500px;
}

.slider_trap img {
    object-fit: cover;
}

.slick-prev,
.slick-next {
    display: block;
    position: absolute;
    border-radius: 999px;
    top: 48%;
    z-index: 99;
    background-color: rgba(40, 42, 50, 0.54);
    width: 60px;
    height: 60px;
    color: transparent;
}

.slick-prev {
    left: 20px;
}
.slick-next {
    right: 20px;
}



.slick-prev:hover {transform: rotate(-360deg);}
.slick-next:hover {transform: rotate(360deg);}
.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(57, 117, 44, 0.81);
    transition: background-color 0.2s ease, transform 0.4s ease;
}

.slick-prev::after,
.slick-next::after {
    content: "";
    display: block;
    position: absolute;
    top: 23px;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}


.slick-prev::after {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    left: 26px;
}
.slick-next:after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    left: 22px;
}




/*************************
    수정/ 삭제 플로팅 버튼
*************************/

.unit_header_tool {
    display: flex;
    align-items: center;
    position: relative;
}

.unit_header_tool button {
    color: #999a9c;
}


.floating_menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    z-index: 80;
    border: 1px solid #c9cfd8;
    border-radius: 4px;
    bottom: -70px;
    right: -10px;
}




.floating_menu a:first-child {
    border-bottom: 1px solid #c9cfd8;
}

.floating_menu a {
    display: block;
    word-break: keep-all;
    padding: 10px 20px;
    border-radius: 4px;
}