body {
    width: 100vw;
}

.feed_contain {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.feed_unit {
    display: flex;
    border: 1px solid red;
    gap: 20px;
}

.media_box {
    display: flex;
    border: 1px solid green;
}


.media_unit{
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.media_unit img {
    width: auto;
    height: 500px;
}

.media_wrap {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.media_trap {
    position: relative;
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.media_controller {
    position: absolute;
    z-index: 2;
    justify-content: space-between;
    display: flex;
    width: 100%;
    top: 50%;
    left: 0;

}

.tool_box {
    display: flex;

    flex-direction: column;
}

.comment_box {
    width: 500px;
    height: 500px;
    border: 1px solid green;
}

