<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/reset.css}"/>
	<link rel="stylesheet" th:href="@{/css/feed_unit.css}"/>
	<link rel="stylesheet" th:href="@{/css/feed_list.css}"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script th:src="@{/js/feed/slider.js}"></script>
</th:block>

<div>
	<th:block layout:fragment="content">
		
		<div id="nav_position" th:insert="feed/component/page_nav :: pageNav"></div>
		
		<!-- 업데이트 -->
		
		<div class="section">
			<h3>비건 타입 선택</h3>
			<div class="vegan_type">
				<ul id="tags">
					<li>
						<input id="vegan1" name="tags" type="checkbox" value="v1"/>
						<label for="vegan1">프루테리언</label>
					</li>
					<li>
						<input id="vegan2" name="tags" type="checkbox" value="v2"/>
						<label for="vegan2">비건</label>
					</li>
					<li>
						<input id="vegan3" name="tags" type="checkbox" value="v3"/>
						<label for="vegan3">락토 베지테리언</label>
					</li>
					<li>
						<input id="vegan4" name="tags" type="checkbox" value="v4"/>
						<label for="vegan4">락토 오보 베지테리언</label>
					</li>
				</ul>
			</div>
		</div>
		
		<!--  콘텐츠  -->
		<div class="section">
			<div class="feed_contain">
				<ul class="feed_list" >
					<li th:each="feed : ${feedList}" th:object="${feedList}" th:insert="feed/component/feed_unit :: feedunit">
					</li>
				</ul>
			</div>
		</div>
	</th:block>
</div>
</html>
