<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/reset.css}"/>
	<link rel="stylesheet" th:href="@{/css/feed_unit.css}"/>
	<link rel="stylesheet" th:href="@{/css/feed_list.css}"/>
</th:block>
<th:block layout:fragment="script">
	<script th:src="@{/js/feed/slider.js}"></script>
</th:block>

<div>
	<th:block layout:fragment="content">
		
		
		<div id="nav_position" th:insert="feed/component/page_nav :: backNav">
		</div>
		
		<th:block th:insert="feed/component/user_unit :: userUnit(feed)">
		</th:block>
		
		
		<div class="section">
			<h3>비건 타입 선택</h3>
			<div class="vegan_type">
				<ul id="tags">
				</ul>
			</div>
		</div>
		
		<!--  콘텐츠  -->
		<div class="section">
			<div class="feed_contain">
				<ul class="feed_list">
					<li th:each="feed : ${feedList}" th:object="${feedList}" th:insert="feed/component/feed_unit :: feedunit">
					</li>
				</ul>
			</div>
		</div>
	</th:block>
</div>
</html>
