<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="css">
  <link th:href="@{/css/layout.css}" rel="stylesheet" />
</th:block>
<th:block layout:fragment="script">
  <script th:src="@{/js/feed/slider.js}"></script>
</th:block>

<div>
  <th:block layout:fragment="content">
	  <h1>마이페이지</h1>
	  <div class="profile">
		  <div class="profile_wrap">
			  <div class="profile_img"></div>
			  <div class="info_wrap">
				  <div class="userinfo_data">
					  <h1>#meanz</h1>
					  <p>Super_VEGAN</p>
				  </div>
				  <div class="tableinfo_data">
					  <p>15개</p>
					  <ul>
						  <li>vegan1</li>
						  <li>vegan2</li>
						  <li>vegan3</li>
						  <li>vegan4</li>
					  </ul>
				  </div>
			  </div>
		  </div>
	  </div>
  </th:block>
</div>
</html>
