<!DOCTYPE html>
<html layout:decorate="~{layout/default_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/feed_upload.css}"/>
	<link rel="stylesheet" th:href="@{/css/feed_unit.css}"/>
	<link rel="stylesheet" th:href="@{/css/reset.css}"/>

</th:block>
<th:block layout:fragment="script">
	<script th:src="@{/js/feed/file_upload.js}" defer="defer"></script>
</th:block>


<th:block layout:fragment="content">
	<div class="nav_detail">
		<a href="/feed/">뒤로가기</a>
	</div>
	<form enctype="multipart/form-data" method="post" action="/feed/upload/feed">
		
		<!-- 파일 첨부 -->
		<div class="section">
			<h3>파일 등록하기<span><span class="img_count" style="color: #45a049">0</span>/5</span></h3>
			<div class="file_preview_area">
				<ul class="file_trap" id="file_preview_area">
				</ul>
			</div>
			<div class="upload_btn_box">
				<button type="button" id="btn_prev">prev</button>
				<span>
					<span class="img_index">0</span>/
					<span class="img_count">0</span>
				</span>
				<button type="button" id="btn_next">next</button>
			</div>
			<div class="drop_file" id="upload_area">
				<div class="wrap">
					<label class="custom-file-label" for="file_uploader">파일 선택</label>
					<input
							accept="image/*"
							id="file_uploader"
							multiple
							name="feedFile"
							onchange="filePreview(this)"
							required
							type="file"
					/>
					<p>최대 5개의 파일을 업로드할 수 있습니다.</p>
				</div>
			</div>
		</div>
		
		<div class="section">
			<h3>내용입력</h3>
			<textarea id="content" name="content" placeholder="내용을 입력하세요" required rows="5"></textarea>
		</div>
		
		<!-- 태그 선택 -->
		
		<div class="section">
			<h3>비건 타입 선택</h3>
			<div class="vegan_type">
				<ul id="tags">
					<li>
						<input id="vegan1" name="diet" type="checkbox" value="vegan"/>
						<label for="vegan1">vegan</label>
					</li>
					<li>
						<input id="vegan2" name="diet" type="checkbox" value="ovo"/>
						<label for="vegan2">ovo</label>
					</li>
					<li>
						<input id="vegan3" name="diet" type="checkbox" value="pesco"/>
						<label for="vegan3">pesco</label>
					</li>
				</ul>
			</div>
		</div>
		
		
		<!-- 제출 버튼 -->
		
		<button class="btn_bg_green" type="submit">보내기</button>
	</form>
</th:block>
</html>